<% include header %>
<% include sidebar %>
<% include navbar %>

<div class="col-xl-12 jumbotron jumbotron-fluid">
    <div class="container">
        <img src="/img/TristoneLogo.png" class="rounded mx-auto d-block" alt="Tristone Flowtech">
      <h1 class="display-4 text-center">Ordenes Ultra</h1>
      <% if(typeof msg !== 'undefined') { %>
        <p class="lead text-center"><%= msg %></p>
     <% } %> 

    </div>
  </div>
</div>
<% include footer %>
</div>
</body>
</html>
