    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading bg-dark text-white"><span class="fas fa-car"></span> Tristone Flowtech </div>
        <div class="list-group list-group-flush">
          <a href="/" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-tachometer-alt">  Dashboard</a>
          <a href="/login/crear_orden" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-file"></span> Crear Orden</a>
          <a href="/login/cerrar_orden" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-window-close"></span>  Cerrar orden</a>
          <a href="/ordenes" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-table"></span>  Ordenes</a>
          <a href="/login/historial" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-book"></span> Status</a>
          <a href="/dashboard" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-chart-line"></span> Reportes</a>
          <a href="http://10.56.99.21:9675/portal/portal-login" target="_blank" class="list-group-item list-group-item-action bg-light"><span class="icoSidebar fas fa-ticket-alt"></span> Soporte</a>
          
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
